/* #main-page h1 {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  text-size-adjust: auto;
  color: hsl(0, 3%, 22%);
  line-height: 1;
}
img {
  height: 500px;
  width: auto;
}
p {
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 5rem;
} */
